<img src="img/JuliaDB.png" />

In [1]:
cd("C:\\Users\\AMSATA NIANG\\Documents\\Julia")

In [2]:

using JuliaDB

In [3]:
function juliaDB_time()
df=loadtable("data/FoodBalanceSheets.csv")
end

juliaDB_time (generic function with 1 method)

In [4]:
using BenchmarkTools
@btime juliaDB_time()

  1.179 s (11082 allocations: 278.74 MiB)

Table with 1219867 rows, 11 columns:
Columns:
#   colname       type
─────────────────────────
1   Area_Code     Int64
2   Area          String
3   Item_Code     Int64
4   Item          String
5   Element_Code  Int64
6   Element       String
7   Year_Code     Int64
8   Year          Int64
9   Unit          String
10  Value         Float64
11  Flag          String

In [27]:
df=loadtable("data/FoodBalanceSheets.csv")
filter(i->(i.Area=="Senegal") && (i.Element_Code=="5510")df ; select= :Area_Code)

Table with 1219867 rows, 11 columns:
Columns:
#   colname       type
─────────────────────────
1   Area_Code     Int64
2   Area          String
3   Item_Code     Int64
4   Item          String
5   Element_Code  Int64
6   Element       String
7   Year_Code     Int64
8   Year          Int64
9   Unit          String
10  Value         Float64
11  Flag          String

In [36]:
xx=select(df,(:Area,:Item,:Value));
filter(i->(i.Area=="Senegal"), xx)

Table with 7073 rows, 3 columns:
Area       Item             Value
───────────────────────────────────
"Senegal"  "Population"     14174.7
"Senegal"  "Population"     14578.5
"Senegal"  "Population"     14993.5
"Senegal"  "Population"     15419.4
"Senegal"  "Population"     0.0
"Senegal"  "Population"     0.0
"Senegal"  "Population"     0.0
"Senegal"  "Population"     0.0
"Senegal"  "Grand Total"    2465.0
"Senegal"  "Grand Total"    2490.0
"Senegal"  "Grand Total"    2589.0
"Senegal"  "Grand Total"    2612.0
⋮
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0
"Senegal"  "Miscellaneous"  0.0

In [40]:
groupreduce(+,df, :Element; select=:Value)

Table with 18 rows, 2 columns:
Element                                   +
────────────────────────────────────────────────────
"Domestic supply quantity"                4.07086e8
"Export Quantity"                         5.34133e7
"Fat supply quantity (g/capita/day)"      292420.0
"Feed"                                    5.48078e7
"Food"                                    2.01343e8
"Food supply (kcal/capita/day)"           9.48673e6
"Food supply quantity (kg/capita/yr)"     1.15338e6
"Import Quantity"                         5.31619e7
"Losses"                                  2.28785e7
"Other uses (non-food)"                   3.21174e7
"Processing"                              9.13067e7
"Production"                              4.11543e8
"Protein supply quantity (g/capita/day)"  269912.0
"Residuals"                               -1.39996e6
"Seed"                                    6.60053e6
"Stock Variation"                         4.28219e6
"Total Population - Both sexes"           1.44084e8
"Tourist consumption"                     56606.0

In [41]:
columns(df)

(Area_Code = [2, 2, 2, 2, 2, 2, 2, 2, 2, 2  …  5817, 5817, 5817, 5817, 5817, 5817, 5817, 5817, 5817, 5817], Area = ["Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan"  …  "Net Food Importing Developing Countries", "Net Food Importing Developing Countries", "Net Food Importing Developing Countries", "Net Food Importing Developing Countries", "Net Food Importing Developing Countries", "Net Food Importing Developing Countries", "Net Food Importing Developing Countries", "Net Food Importing Developing Countries", "Net Food Importing Developing Countries", "Net Food Importing Developing Countries"], Item_Code = [2501, 2501, 2501, 2501, 2501, 2501, 2501, 2501, 2901, 2901  …  2899, 2899, 2899, 2899, 2899, 2899, 2899, 2899, 2899, 2899], Item = ["Population", "Population", "Population", "Population", "Population", "Population", "Population", "Population", "Grand Total", "Grand Total"  …  "Miscellaneous", "Miscellaneous", "Miscellaneous", "Miscellaneous", "Miscellaneous", "Miscellaneous", "Miscellaneous", "Miscellaneous", "Miscellaneous", "Miscellaneous"], Element_Code = [511, 511, 511, 511, 5301, 5301, 5301, 5301, 664, 664  …  664, 664, 674, 674, 674, 674, 684, 684, 684, 684], Element = ["Total Population - Both sexes", "Total Population - Both sexes", "Total Population - Both sexes", "Total Population - Both sexes", "Domestic supply quantity", "Domestic supply quantity", "Domestic supply quantity", "Domestic supply quantity", "Food supply (kcal/capita/day)", "Food supply (kcal/capita/day)"  …  "Food supply (kcal/capita/day)", "Food supply (kcal/capita/day)", "Protein supply quantity (g/capita/day)", "Protein supply quantity (g/capita/day)", "Protein supply quantity (g/capita/day)", "Protein supply quantity (g/capita/day)", "Fat supply quantity (g/capita/day)", "Fat supply quantity (g/capita/day)", "Fat supply quantity (g/capita/day)", "Fat supply quantity (g/capita/day)"], Year_Code = [2014, 2015, 2016, 2017, 2014, 2015, 2016, 2017, 2014, 2015  …  2016, 2017, 2014, 2015, 2016, 2017, 2014, 2015, 2016, 2017], Year = [2014, 2015, 2016, 2017, 2014, 2015, 2016, 2017, 2014, 2015  …  2016, 2017, 2014, 2015, 2016, 2017, 2014, 2015, 2016, 2017], Unit = ["1000 persons", "1000 persons", "1000 persons", "1000 persons", "1000 tonnes", "1000 tonnes", "1000 tonnes", "1000 tonnes", "kcal/capita/day", "kcal/capita/day"  …  "kcal/capita/day", "kcal/capita/day", "g/capita/day", "g/capita/day", "g/capita/day", "g/capita/day", "g/capita/day", "g/capita/day", "g/capita/day", "g/capita/day"], Value = [33370.79, 34413.6, 35383.03, 36296.11, 0.0, 0.0, 0.0, 0.0, 2019.0, 1978.0  …  1.0, 1.0, 0.03, 0.03, 0.03, 0.03, 0.01, 0.01, 0.01, 0.01], Flag = ["S", "S", "S", "S", "S", "S", "S", "S", "Fc", "Fc"  …  "Fc", "Fc", "Fc", "Fc", "Fc", "Fc", "Fc", "Fc", "Fc", "Fc"])

In [44]:
columns(df,:Flag)

1219867-element WeakRefStrings.StringArray{String,1}:
 "S"
 "S"
 "S"
 "S"
 "S"
 "S"
 "S"
 "S"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 ⋮
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"
 "Fc"

In [45]:
display(df)

Table with 1219867 rows, 11 columns:
Columns:
#   colname       type
─────────────────────────
1   Area_Code     Int64
2   Area          String
3   Item_Code     Int64
4   Item          String
5   Element_Code  Int64
6   Element       String
7   Year_Code     Int64
8   Year          Int64
9   Unit          String
10  Value         Float64
11  Flag          String